.card {
  background: rgb(222, 222, 222);
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: max-content;
}
.label {
  font-weight: bold;
  color: blue;
}
.avatar {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-bottom: 1rem;
}
