* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#root > header,
#root > footer {
  background-color: lightblue;
  padding: 1rem;
}

#root > main {
  height: 100%;
  flex-grow: 1;
  padding: 1rem;
}

button {
  padding: 0.3rem 0.8rem;
}
